<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Notebook</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h2>Add a new category</h2>
			<p>What would you like to add a note about?</p>
		</div>
		<div>
			<form th:object="${category}" th:action="@{/admin/savecategory}" action="#" method="post">
				<table>
					<tr>
						<td>Category:</td>
						<td><input type="text" th:field="*{categoryName}"/></td>
						<td th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">CategoryName Error</td>
					</tr>
					<tr>
						<td><input type="submit" value="Add"></input></td>
					</tr>
				</table>
			</form>
		</div>
		<div>
			<h4>Don't want to add a new category after all?</h4>
			<button onclick="window.location.href='/addnote';">Create new note</button>
			<button onclick="window.location.href='/notelist';">View notes</button>
			<button onclick="window.location.href='/admin/categorylist';">View categories</button>
		</div>
	</body>
</html>