<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Notebook</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h2>Manage categories</h2>
			<p>View or manage all categories or</p>
			<p><button onclick="window.location.href='/admin/addcategory';">Add category</button></p>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<th>Category</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each="category:${categories}">
						<td th:text="${category.categoryName}"></td>
						<td><a th:href="@{/admin/editcategory/{id} (id=${category.categoryId})}">Edit</a></td>
						<td><a th:href="@{/admin/deletecategory/{id} (id=${category.categoryId})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="color:green" th:text="${success}" th:if="${success}"></div>
		<div style="color:red" th:text="${error}" th:if="${error}"></div>
		<div>
			<p><button onclick="window.location.href='/notelist';">View notes</button></p>
		</div>
	</body>
</html>