<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Notebook</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h2>Edit a category</h2>
		</div>
		<div>
			<form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
				<label for="categoryName">Category:</label>
				<input type="text" id="name" value="${category.categoryName}" th:field="*{categoryName}"/>
				<input type="submit" value="Save"></input>
			</form>
		</div>
		<div><a href="/admin/categorylist">Return to the list of categories without editing category</a></div>
	</body>
</html>