<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Notebook</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div><h1>Welcome to your notebook, [[${#httpServletRequest.remoteUser}]]!</h1></div>
		<div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign out"/>
			</form>
		</div>
		<div>
			<h2>All notes</h2>
			<p>Enjoy the notes you have made or <a href="/addnote">add a new note</a> for the future.</p>
		</div>
		<div>	
			<table>
				<tbody>
					<tr>
						<th>Category</th>
						<th>Name of experience</th>
						<th>Creator</th>
						<th>Date</th>
						<th>Location</th>
						<th>Thoughts</th>
						<th>Evaluation</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each = "note:${notes}">
						<td th:text = "${note.category.categoryName}"></td>
						<td th:text = "${note.noteName}"></td>
						<td th:text = "${note.creator}"></td>
						<td th:text = "${note.date}"></td>
						<td th:text = "${note.location}"></td>
						<td th:text = "${note.thoughts}"></td>
						<td th:text = "${note.evaluation}"></td>
						<td><a th:href="@{/editnote/{id}(id=${note.noteId})}">Edit</a></td>
						<td><a th:href="@{/deletenote/{id} (id=${note.noteId})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div sec:authorize="hasAuthority('ADMIN')">
			<h4>View and manage categories</h4>
			<p><button onclick="window.location.href='/admin/categorylist';">Manage</button></p>
		</div>
	</body>
</html>
